<div class="content container-fluid h-100 mt-3">
	<figure class="text-center">
		  <blockquote class="blockquote">
		    <p>天可补，海可填，南山可移。日月既往，不可复追</p>
		  </blockquote>
		  <figcaption class="blockquote-footer">
		    <cite title="Source Title">曾国藩</cite>
		  </figcaption>
	</figure>
</div>