<h1>Editing customer ratecard</h1>

<%= render "form", customer_ratecard: @customer_ratecard %>

<br>

<div>
  <%= link_to "Show this customer ratecard", @customer_ratecard %> |
  <%= link_to "Back to customer ratecards", customer_ratecards_path %>
</div>
