<h1>Editing carrier rate</h1>

<%= render "form", carrier_rate: @carrier_rate %>

<br>

<div>
  <%= link_to "Show this carrier rate", @carrier_rate %> |
  <%= link_to "Back to carrier rates", carrier_rates_path %>
</div>
