<p style="color: green"><%= notice %></p>

<h3>Ecommerce Bills</h3>


<div class="container">
  <%= link_to "Upload Order IDs", {controller: :order, action: :upload_orders}, {:class=>"btn btn-primary"} %>
</div>

<div class="row-gap-3"></div>

<div id="bills">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Orders</th>
        <th scope="col">Invoiced?</th>
        <th scope="col">Invoiced date</th>
        <th scope="col">Bill type</th>
        <th scope="col">Handling Fee</th>
        <th scope="col">Shipping Fee</th> 
        <th scope="col">Action</th> 
      </tr>
    </thead>
    <tbody>
      <% @bills.each do |bill| %>
        <%= render bill %>
      <% end %>
    </tbody>
  </table>
</div>
