<p style="color: green"><%= notice %></p>

<div id="customers">
  <table class="table table-hover table-striped table-sm table-condensed">
  <thead>
    <tr>
      <td colspan="3"><h3>Customers</h3></td>
      <td colspan="2" style="text-align: right;"><%= link_to "New customer", new_customer_path, :class=> "btn btn-primary btn-sm" %></td>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Order no prefix</th>
      <th scope="col">Email</th>
      <th scope="col">Shipping Price Tier</th>
      <th scope="col">Customer Own Packing</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <%= render customer %>
    <% end %>
  </tbody>
</table>

</div>


