<h1>Editing pack material</h1>

<%= render "form", pack_material: @pack_material %>

<br>

<div>
  <%= link_to "Show this pack material", @pack_material %> |
  <%= link_to "Back to pack materials", pack_materials_path %>
</div>
